<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

    <!-- Include SweetAlert CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">
<!-- ... (other CSS imports) -->

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
<div class="container">
    <div class="well text-center">
        <h1>Perisytiharan Harta</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Senarai Harta
                <button type="button" class="btn btn-success pull-right" data-toggle="modal" 
                data-target="#myModal">Tambah</button>
                </h2>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                                    <span aria-hidden="true">x</span>
                                </button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <table class="table table-striped">
                    <tr>
                        <th>Bil</th>
                        <th>Tahun</th>
                        <th>Nombor Fail</th>
                        <th>Nama Pasangan</th>
                        <th>Jenis Perisytiharan Harta</th>
                        <th>Kategori Perisytiharan Harta</th>
                    </tr>
                    {% for row in harta %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>
                            <a href="/update_harta/{{ row[0] }}" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{ row[0] }}">Edit</a>
                            <button class="btn btn-danger btn-xs" onclick="deleteHarta({{ row[0] }})">Padam</button>
                        </td>

                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <!-- Modal Edit -->
    {% for row in harta %}
    <div id="modaledit{{ row[0] }}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">x</button>
                    <h4 class="modal-title">Kemas Kini Data</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('update_harta') }}" method="POST">
                        <div class="form-group">
                            <input type="hidden" name="bil" value="{{ row[0] }}">
                        </div>
                        <div class="form-group">
                            <label>Tahun:</label>
                            <input type="text" class="form-control" name="tahun" value="{{ row[1] }}">
                        </div>
                        <div class="form-group">
                            <label>No. Fail:</label>
                            <input type="text" class="form-control" name="failNo" value="{{ row[2] }}">
                        </div>
                        <div class="form-group">
                            <label>Nama Pasangan:</label>
                            <input type="text" class="form-control" name="namaPasangan" value="{{ row[3] }}">
                        </div>
                        <div class="form-group">
                            <label >Jenis Perisytiharan:</label>
                            <select class="form-control" name="jenis" required>
                            <option value="Rekod 1">Rekod 1</option>
                            <option value="Rekod 2">Rekod 2</option>
                        </select>
                        </div>
                        <div class="form-group">
                            <label>Kategori Perisytiharan: </label>
                             <div class="form-check">
                                <input class="form-check-input" type="radio" name="kategori" id="sendiri" value="Sendiri" required>
                                <label class="form-check-label" for="sendiri">
                                    Sendiri
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="kategori" id="bersama" value="Bersama" required>
                                <label class="form-check-label" for="bersama">
                                    Bersama
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Update</button>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
   <!-- Modal Edit: Existing code for the edit modal -->
    <!-- Modal -->

    <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Perisytiharan Harta</h4>
            </div>
            <div class="modal-body">
                <form id="draftForm" method="POST" action="{{ url_for('insert_harta') }}">
                    <div class="form-group">
                        <label>Tahun:</label>
                        <input type="text" class="form-control" name="tahun" required>
                    </div>
                    <div class="form-group">
                        <label>No. Fail:</label>
                        <input type="text" class="form-control" name="failNo" required>
                    </div>
                    <div class="form-group">
                        <label>Nama Pasangan:</label>
                        <input type="text" class="form-control" name="namaPasangan" required>
                    </div>
                    <div class="form-group">
                        <label >Jenis Perisytiharan:</label>
                        <select class="form-control" name="jenis" required>
                            <option value="Rekod 1">Rekod 1</option>
                            <option value="Rekod 2">Rekod 2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Kategori Perisytiharan: </label>
                         <div class="form-check">
                            <input class="form-check-input" type="radio" name="kategori" id="sendiri" value="Sendiri" required>
                            <label class="form-check-label" for="sendiri">
                                Sendiri
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="kategori" id="bersama" value="Bersama" required>
                            <label class="form-check-label" for="bersama">
                                Bersama
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#draftModal">Preview Data</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
            </div>
        </div>
    </div>
    </div>

    <!-- Draft Modal -->
    <div id="draftModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Review Data</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Jenis Perisytiharan:</label>
                        <p id="draft_jenis"></p>
                    </div>
                    <div class="form-group">
                        <label>Tahun:</label>
                        <p id="draft_tahun"></p>
                    </div>
                    <div class="form-group">
                        <label>No. Fail:</label>
                        <p id="draft_no_fail"></p>
                    </div>
                    <div class="form-group">
                        <label>Nama Pasangan:</label>
                        <p id="draft_namaPasangan"></p>
                    </div>
                    <div class="form-group">
                        <label>Kategori Perisyitharan:</label>
                        <p id="draft_kategori"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="saveData()">Hantar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script>

    <script type="text/javascript">
    // Function to show the SweetAlert confirmation dialog for deleting a harta
    function deleteHarta(bil) {
    Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Setuju!'
    }).then((result) => {
        if (result.isConfirmed) {
            Swal.fire(
                'Deleted!',
                'Harta Berjaya Dipadam!',
                'success'
            ).then(() => {
                // If user confirms, trigger the form submission for deleting the harta
                const form = document.createElement('form');
                form.method = 'POST';
                form.action = '/delete_harta/' + bil;
                document.body.appendChild(form);
                form.submit();
            });
        }
    });
}

    // Function to show draft data in the draft modal
    function showDraftData() {
        $("#draft_jenis").text($("#draftForm input[name='jenis']").val());
        $("#draft_tahun").text($("#draftForm input[name='tahun']").val());
        $("#draft_no_fail").text($("#draftForm input[name='failNo']").val());
        $("#draft_namaPasangan").text($("#draftForm input[name='namaPasangan']").val());
        $("#draft_kategori").text($("#draftForm input[name='kategori']").val());
    }

    // Function to save data to the database
    function saveData() {
        // Perform the form submit here, e.g., using AJAX
        $("#draftForm").submit();

    }

    // Show draft data modal when preview button is clicked
    $("#draftModal").on("show.bs.modal", function () {
        showDraftData();
    });

    // Clear draft data modal when closed
    $("#draftModal").on("hidden.bs.modal", function () {
        $("#draft_tahun").text("");
        $("#draft_no_fail").text("");
        $("#draft_namaPasangan").text("");
        $("#draft_kategori").text("");
    });
</script>

{% endblock %}