<!DOCTYPE html>
{% extends "base_admin.html" %}

{% block content %}

    <section class="home-section">
        <div class="container">
            <div class="text-center">
                <h1>Perisytiharan Harta</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="well">
                        <h2>Senarai Pengguna
                            <a href="{{ url_for('export_harta') }}" class="btn btn-info pull-right" title="">
                                <i class="fa fa-file-excel-o"></i>
                            </a>

                            <button type="button" class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal">Tambah
                            </button>
                        </h2>


                        <table class="table table-striped">
                            <tr>
                                <th>Bil</th>
                                <th>Nama Pengguna</th>
                                <th>Tahun</th>
                                <th>Nombor Fail</th>
                                <th>Nama Pasangan</th>
                                <th>Jenis Perisytiharan Harta</th>
                                <th>Kategori Perisytiharan Harta</th>
                                <th>Fail Sokongan</th>
                                <th>Modifikasi Terakhir Oleh</th>
                                <th>Modifikasi Terakhir Pada</th>
                                <th></th>
                            </tr>
                            {% for row in harta %}
                                <tr>
                                    <td>{{ row[0] }}</td>
                                    <td>{{ row[-1] }}</td> <!-- Displaying Username -->
                                    <td>{{ row[1] }}</td>
                                    <td>{{ row[2] }}</td>
                                    <td>{{ row[3] }}</td>
                                    <td>{{ row[4] }}</td>
                                    <td>{{ row[5] }}</td>
                                    <td>{{ row[7] }}</td>
                                    <td>{{ row[-3] }}</td> <!-- Display last modified by -->
                                    <td>{{ row[-2] }}</td>
                                    <td>
                                        <a href="{{ url_for('download_harta', bil=row[0]) }}"
                                           class="btn btn-success btn-xs" download>Muat Turun
                                        </a>
                                        <a href="/update_harta/{{ row[0] }}" class="btn btn-warning btn-xs"
                                           data-toggle="modal" data-target="#modaledit{{ row[0] }}">Kemas Kini
                                        </a>
                                        <button class="btn btn-danger btn-xs" onclick="deleteHarta({{ row[0] }})">
                                            Padam
                                        </button>
                                    </td>

                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Insert harta -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Perisytiharan Harta</h4>
                </div>
                <div class="modal-body">
                    <form id="draftForm" method="POST" action="{{ url_for('insert_harta') }}"
                          enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="selectEmail">Pilih Emel Pengguna:</label>
                            <select id="selectEmail" name="email">
                                <option value="" selected disabled>Pilih Email</option>
                                {% for row in user %}
                                    <option value="{{ row[1] }}">{{ row[1] }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="form-group">
                            <label for="selectEmail">Nama Pengguna:</label>
                            <p id="username"></p>
                        </div>
                        <div class="form-group">
                            <label>Tahun:</label>
                            <input type="text" class="form-control" name="tahun" pattern="\d{4}"
                                   title="Sila masukkan angka 4-digit untuk tahun (e.g. 2024)." required>
                        </div>
                        <div class="form-group">
                            <label>No. Fail:</label>
                            <input type="text" class="form-control" name="failNo" required>
                        </div>
                        <div class="form-group">
                            <label>Nama Pasangan:</label>
                            <input type="text" class="form-control" name="namaPasangan" required>
                        </div>
                        <div class="form-group">
                            <label>Jenis Perisytiharan:</label>
                            <label>
                                <select class="form-control" name="jenis" required>
                                    <option value="Tanah">Tanah</option>
                                    <option value="Kereta">Kereta</option>
                                    <option value="Motosikal">Motosikal</option>
                                </select>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Kategori Perisytiharan:</label>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="kategori"
                                       id="sendiri" value="Sendiri"
                                       required>
                                <label class="form-check-label" for="sendiri">Sendiri</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="kategori"
                                       id="bersama" value="Bersama"
                                       required>
                                <label class="form-check-label" for="bersama">Bersama</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="file">Fail</label>
                            <input id="file" name="file" type="file" required
                                   onchange="updateViewFileLink()"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-toggle="modal"
                            onclick="validateAndPreviewAdmin()">
                        Preview Rekod
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- Update harta -->
    {% for row in harta %}
        <div id="modaledit{{ row[0] }}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">x</button>
                        <h4 class="modal-title">Kemas Kini Data</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('update_harta') }}" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <input type="hidden" name="bil" value="{{ row[0] }}" required>
                            </div>
                            <div class="form-group">
                                <label>Tahun:</label>
                                <label>
                                    <input type="text" class="form-control" name="tahun" value="{{ row[1] }}" pattern="\d{4}"
                                           title="Sila masukkan angka 4-digit untuk tahun (e.g. 2024)." required>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>No. Fail:</label>
                                <label>
                                    <input type="text" class="form-control" name="failNo"
                                           value="{{ row[2] }}" required>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Nama Pasangan:</label>
                                <label>
                                    <input type="text" class="form-control" name="namaPasangan"
                                           value="{{ row[3] }}" required>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Jenis Perisytiharan:</label>
                                <label>
                                    <select class="form-control" name="jenis" required>
                                        <option value="Tanah" {% if row[4] == 'Tanah' %}selected{% endif %}>Tanah</option>
                                        <option value="Kereta" {% if row[4] == 'Kereta' %}selected{% endif %}>Kereta</option>
                                        <option value="Motosikal" {% if row[4] == 'Motosikal' %}selected{% endif %}>Motosikal</option>
                                    </select>
                                </label>
                            </div>
                            <div class="form-group">
                                <label>Kategori Perisytiharan: </label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="kategori"
                                           id="sendiri" value="Sendiri" {% if row[5] == 'Sendiri' %}checked{% endif %} required>
                                    <label class="form-check-label" for="sendiri">Sendiri</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="kategori" id="bersama" value="Bersama"
                                           {% if row[5] == 'Bersama' %}checked{% endif %} required>
                                    <label class="form-check-label" for="bersama">Bersama</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="draft_file">Fail:</label>
                                <p>{{ row[7] }}</p>
                                <input id="file" name="file" type="file" required onchange="updateViewFileLink()"/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="validateAndSubmit('{{ row[0] }}')">Kemas Kini</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}



    <!-- Draft Modal -->
    <div id="draftModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Review Rekod</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label>Email Pengguna:</label>
                        <p id="draft_email"></p>
                    </div>
                    <div class="form-group">
                        <label>Tahun:</label>
                        <p id="draft_tahun"></p>
                    </div>
                    <div class="form-group">
                        <label>No. Fail:</label>
                        <p id="draft_no_fail"></p>
                    </div>
                    <div class="form-group">
                        <label>Nama Pasangan:</label>
                        <p id="draft_namaPasangan"></p>
                    </div>
                    <div class="form-group">
                        <label>Jenis Perisytiharan:</label>
                        <p id="draft_jenis"></p>
                    </div>
                    <div class="form-group">
                        <label>Kategori Perisytiharan:</label>
                        <p id="draft_kategori"></p>
                    </div>
                    <div class="form-group">
                        <label for="draft_file">Fail:</label>
                        <a href="#" id="draft_file" target="_blank" onclick="previewFile()">Lihat Fail</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="saveData()">Hantar
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Batal
                    </button>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script>

{% endblock %}