<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
    <style>
    body {
        background-image: url("{{url_for('static', filename='images/background.jpg')}}");
        /* You can adjust the background properties as per your preference */
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>
<section class="home-section">
    <div class="text">Dashboard</div>
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Customers List</h2>

                <table class="table table-dark table-hover">
                    <tr>
                        <th class="customer-name">Customer Name</th>
                        <th class="customer-taken">Treatment Taken</th>
                        <th class="customer-phone">Phone</th>
                    </tr>
                    {% for row in customers %}
                        <tr>
                            <td class="customer-name">{{ row[1] }}</td>
                            <td class="customer-taken">{{ row[2] }}</td>
                            <td class="customer-phone">{{ row[3] }}</td>


                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Treatments List</h2>
                <table class="table table-dark table-hover ">
                    <tr>
                        <th class="treatment-name">Treatment Name</th>
                        <th class="treatment-category">Category</th>
                        <th class="treatment-description">Description</th>
                        <th class="treatment-price">Price</th>
                    </tr>
                    {% for row in treatments %}
                        <tr>
                            <td class="treatment-name">{{ row[1] }}</td>
                            <td class="treatment-category">{{ row[2] }}</td>
                            <td class="treatment-description">{{ row[3] }}</td>
                            <td class="treatment-price">RM {{ row[4] }}</td>


                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

</section>
{% endblock %}
